<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VEHICLES</title>
</head>
<body>
    <h1>Vehicles</h1>
    <table>
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>DOB</th>
                <th>Address</th>
                <th>License Number</th>
                <th>Vehicle Assigned</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.first_name }}</td>
                <td>{{ driver.last_name }}</td>
                <td>{{ driver.email }}</td>
                <td>{{ driver.phone_number }}</td>
                <td>{{ driver.date_of_birth }}</td>
                <td>{{ driver.address }}</td>
                <td>{{ driver.license_number }}</td>
                <td>{{ driver.vehicle_assigned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>